In [4]:
## Data types - classification of data that tells the compiler or interpreter how the programmer intends to use the data
## They determine the operations that need to be perfomormed

# 1. Interger
age = 25
type(age)

int

In [5]:
# 2. floating point 
marks = 50.6
type(marks)

float

In [6]:
#string 
name = "BRENDA MUKAMI"
type(name)

str

In [7]:
# boolean
is_true = True
type(is_true)

bool

In [11]:
# common errors 
#results = "hello" + 5

results = "hello" + str(5)
print(results)

hello5

## Operators

In [13]:
# Arithmetic operators
a= 10
b= 15
result = a+b
print(result)

25

In [27]:
#simple calculator 
a = 10
b= 5

add_result=a+b  #additon
sub_result=a-b  #subtraction 
mult_result=a*b #multiplication
div_result=a/b  #division
floor_div_result=a//b ## floor division
modulus_result=a%b #modulus operation

exponent_result=a**b ## Exponentiation


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [28]:
10/5

2.0

In [29]:
## Comparison Operators
## == Equal to
a=10
b=10

In [30]:
str1="Brenda"
str2="Brenda"

str1==str2

True

In [31]:
## Not Equal to !=
str1!=str2

False

In [32]:
# Other comparison operators include >, <, <=, >=

In [33]:
## Logical Operators - AND, OR NOT
X=True
Y = True

#AND
result = X and Y 
print(result)

True

In [34]:
##OR
X=False #either option has to be true
Y = True

result = X or Y 
print(result)

True

In [35]:
#NOT 
X=False #reverse of any boolean variable
not X

True